* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    background-color: #21222A;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.react-logo {
    width: 65px;
    padding-right: 10px;
}

.logo-head {
    color: #61DAFB;
    font-weight: 600;
    font-size: 23px;
}

.main {
    margin-left: 20px;
    margin-top: 60px;
    background: url(./assets/reactjs-icon.png) no-repeat right;
}

.main h1 {
    font-size: 40px;
}

.main ul {
    list-style: none;
    margin-left: 50px;
    margin-top: 40px;
}

.main li {
    list-style-image: url(./assets/list-bullet-elipse.png);
    padding-bottom: 20px;
}